<div class="line">


    <mat-form-field appearance="outline">
        <mat-label>Selection users</mat-label>
        <mat-select #list (selectionChange)="sort(list.value)">
            <mat-option value="0"> from A to Z</mat-option>
            <mat-option value="1"> from Z to A</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="">
        <mat-label>Search</mat-label>
        <input matInput placeholder="find user" #input (keyup.enter)="search(input.value)">
        <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
    </mat-form-field>

    <!--....... pipe........ -->

    <!-- <mat-form-field appearance="outline" class="">-->
    <!-- <mat-label>Search</mat-label> -->
    <!-- <input matInput [(ngModel)]="searchStr">-->
    <!-- <mat-icon matSuffix>search</mat-icon> -->
    <!-- </mat-form-field>  -->


</div>
<div class="line">
    <mat-form-field appearance="outline" class="item">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="name">

    </mat-form-field>
    <mat-form-field appearance="outline" class="item">
        <mat-label>UserName</mat-label>
        <input matInput placeholder="UserName" [(ngModel)]="username">

    </mat-form-field>

    <mat-form-field appearance="outline" class="item">
        <mat-label>User Role</mat-label>
        <mat-select [(ngModel)]="role">
            <mat-option value="Admin"> Admin</mat-option>
            <mat-option value="User"> User</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button class="btn" color="primary" (click)="addUser()">Add</button>
</div>

<div *ngIf="usersList.length >0; else empty">
    <mat-selection-list #user (selectionChange)="selectItem(user.selectedOptions.selected)">
        <mat-list-option [value]="user" *ngFor="let user of  usersList ; let i= index" [ngClass]="{'gray':i%2}">
            <div>
                <span class="item"> {{user.name}}  </span>
                <span class="item"> {{user.username}}</span>
                <span *ngIf="user.role==='Admin'" class="item">{{user.role}}</span>
            </div>
        </mat-list-option>

        <!--....... pipe........ -->
        <!--       <mat-list-option *ngFor="let u of (usersList | search:searchStr)" [value]="u">
            <div>
                <span class="item"> {{u.name}}  </span>
                <span class="item"> {{u.username}}</span>

            </div>
        </mat-list-option> -->


    </mat-selection-list>
    <div class="line">
        <div>
            Selected users: {{user.selectedOptions.selected.length}}
        </div>
        <div>
            <button mat-raised-button class="btn" color="warn" (click)="deleteUsers()">Delete</button>
        </div>

    </div>
</div>

<ng-template #empty>
    <div>Users are not found</div>

</ng-template>